<div class="container">
  <div class="row justify-content-around">
    <div class="col-sm-5 mt-5">
      <h1>Products</h1>
    </div>
    <div class="col-sm-3 mt-5">
      <%= link_to 'Publish Product', new_product_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-10 mt-3">
      <table class="table table-borderless table-hover mt-5">
        <thead class="thead-dark">
          <th >Product's Name</th>
          <th >Price</th>
          <th >Categories</th>
          <th></th>
          <th></th>
        </thead>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td ><%= product.price %></td>
            <td ><%= product.categories.map(&:name).join(', ') %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to "Delete", product, method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
</div>
